.tracker-map, #mapCanvas{
	height: 100vh;
}

body {
	display: initial;
	min-height: initial;
	flex-direction: initial;
	margin: initial;
	background-color: initial;
}

.main>div, .main>form {
	flex: initial;
	padding-bottom: initial;
}

.tabs{
	background-color: white;
}

.tracker-map-wrapper{
	width: 65vw;
}

.tracker-options-wrapper{
	width: 35vw;
	min-width: 300px;
	margin-top: 50px;
}

.tabs-content-wrapper {
	height: calc(100vh - 138px);
}

.tabs-content {
	height: 100% !important;
}

.showSS {
	display: none;
}

.super-div {
	width: 100vw;
}

.ss-header {
	/*display: none;*/
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 50px;
	width: 35vw;
	min-width: 300px;
	position: absolute;
	right: 0;
}

header {
	height: 50px;
}

.ss-header::after {
	all: initial;
}

/*.tracker-map, #mapCanvas{
	height: calc(100vh - 50px);
	margin-top: 50px;
	}*/

	@media only screen and (max-width: 900px) {
		.wrapSS {
			display: none;
		}
		.showSS {
			display: block;
		}
	/*.ss-header {
	display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    }*/
    .tracker-map-wrapper {
    	width: 100%;
    }
    .menu-container {
    	display: inline-block !important;
    }
    .ss-header {
    	width: 100vw;
    }
    .tracker-map, #mapCanvas{
    	height: calc(100vh - 50px);
    	margin-top: 50px;
    }
}

.menu-container {
	display: none;
	cursor: pointer;
	position: absolute;
	right: 10px;
}

.bar1, .bar2, .bar3 {
	width: 25px;
	height: 3px;
	background-color: #00b2ee;
	margin: 6px 0;
	transition: 0.4s;
}

.menu-change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-5px, 4px);
	transform: rotate(-45deg) translate(-5px, 4px);
}

.menu-change .bar2 {opacity: 0;}

.menu-change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

.dummy-line {
	border-bottom: 1px solid #ccc;
	margin-top: 35px;
	width: 50%;
}

.checkpoints-title {
	border-bottom: 3px solid #00b1ea;
	font-size: 16px;
	color: #00b1ea;
	font-weight: bold;
	padding-bottom: 3px;
	display: inline-block;
}

.checkpoint-box {
	display: flex;
	justify-content: start;
	align-items: center;
	margin-bottom: 15px;
}

.checkpoints-list {
	margin-top: 15px;
}

.checkpoints-wrapper {
	margin-top: 20px;
}

.checkpoint-icon {
	margin-right: 7px;
}

.checkpoint-tag {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border: 5px solid #ccc;
}

.checkpoint-name{
	font-weight: 600;
	font-size: 18px;
}

.checkpoint-coordinates{
	font-size: 15px;
}

.tracker-sign-icon {
	height: 40px;
	width: 40px;
}

.tracker-banner-icon {
	height: 60px;
	width: 120px;
}

.tracker-signs-wrapper, .tracker-banners-wrapper {
	margin-top: 30px;
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
}

.tracker-sign, .tracker-banner {
	margin: 5px;
}

.filter-personnel-title {
	font-size: 15px;
}